

h1 {
background-color:Gray;
color: Gold;
}

body {
background-image: url("background.jpg");
}

p {
font-family: "cambria";
} 

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: darkgreen;
}

/* mouse over link */
a:hover {
    color: Blue;
}

/* selected link */
a:active {
    color: blue;
}


table {
    width: 40%;
}

th {
    height: 50px;
}

table, th, td {
   border: 1px solid black;
}

table td, th { 
text-align: center;
}


.container {
    overflow: hidden;
    background-color:gray;
    font-family: Arial;
    text-align: center;
}

.container a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration:none;
}

.dropdown {
    float: left;
    font-size: 20px;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color:#F0E68C;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


